@page "/products"
@using BlazorApp.ViewModels
@inject ProductsViewModel ViewModel
@inject NavigationManager Navigation

<PageTitle>Products</PageTitle>

<h1>Products</h1>

@if (ViewModel.IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brand</th>
                <th>Product type</th>
                <th>Update</th>
                <th>Delete</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ViewModel.Products)
            {
                <tr>
                    <td>@product.NameProduct</td>
                    <td>@product.NameBrand</td>
                    <td>@product.NameProductType</td>
                    <button class="btn btn-secondary" @onclick="() => OnUpdateClick(product.IdProduct)">Update</button>
                    <td><Button Color="ButtonColor.Danger"> Delete </Button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.LoadDataAsync();
    }

    private void OnUpdateClick(int id)
    {
        Navigation.NavigateTo($"/update-product/{id}");
    }
}
